{% extends 'dashboardNavbar.html' %}

{% block title %}
{{name}}
{% endblock %}

{% block css %}

<link rel="stylesheet" href="/static/assets/css/crmFormStyle.css">

{% endblock %}

{% block content %}

<div id="aps_crm">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="crm_header">
                    <h4 class="crm_title">{{name}} Product</h4>
                    <h6 class="crm_subtitle">
                        {% ifequal name 'Create' %}
                        Enter the details of product!
                        {% else %}
                        Edit product details!
                        {% endifequal %}
                    </h6>
                </div>
                <div class="crm_form">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <fieldset>
                                        <label for="">Serial Number</label>
                                        {{ form.Serial_Number }}
                                    </fieldset>
                                </div>
                                <div class="col-6">
                                    <fieldset>
                                        <label for="">Part Code</label>
                                        {{ form.Part_Code }}
                                    </fieldset>
                                </div>
                            </div>
            
                            <div class="row">
                                <div class="col-6">
                                    <fieldset>
                                        <label for="">Item</label>
                                        {{ form.Item }}
                                    </fieldset>
                                </div>
                                <div class="col-6">
                                    <fieldset>
                                        <label for="">Make</label>
                                        {{ form.Make }}
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <fieldset>
                                        <label for="">Location</label>
                                        {{ form.Location }}
                                    </fieldset>
                                </div>
                                <div class="col-6">
                                    <fieldset>
                                        <label for="">Purchase Date</label>
                                        {{ form.Purchase_Date }}
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <fieldset>
                                        <label for="">Organisation</label>
                                        {{ form.Organisation }}
                                    </fieldset>
                                </div>
                                <div class="col-6">
                                    <fieldset>
                                        <label for="">Item Dispatch Date</label>
                                        {{ form.Item_dispatched_Date }}
                                    </fieldset>
                                </div>
                                
                            </div>
                           
                            <div class="row">
                                <div class="col-12">
                                    <fieldset>
                                        <label for="">CLI Snapshot</label>
                                        {{ form.CLI_snapshot}}
                                        
                                                        
                                            {% if CLI_snapshot %}
                                                        <a href="{{CLI_snapshot.url}}" target="_blank" >
                                                        
                                                            {{CLI_snapshot}}
                                                            
                                                        </a>
                                                        {% endif %}
                                        
                                    </fieldset>
            
                                </div>
                               
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <fieldset>
                                        <label for="">Snapshot Date</label>
                                        {{ form.Snapshot_Date }}
                                    </fieldset>
                                </div>
                                <div class="col-6">
                                    <fieldset>
                                        <label for="">Status</label>
                                        {{ form.Status }}
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <fieldset>
                            <button type="submit">Submit</button>
                        </fieldset>
                    </form>
                </div>

            </div>
        </div>
    </div>
    
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
<script src="/static/assets/js/crmFormScript.js"></script>

{% endblock %}