{% extends 'dashboardNavbar.html' %}

{% block title %}
Inventory
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/assets/css/table.css">
{% endblock %}

{% block content %}
<br>
<div class="modal" id="aps_table_modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Filter Inventory</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form method="get" class="aps_filter_form">
				<div class="modal-body">
					{{inventory_filter.form}}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 mx-auto">
		<h5>ALL INVENTORY</h5>
		<hr>
	</div>
	<div class="col-sm-12 mx-auto">

		<div class="aps_create_button">+
			<div>
				<ul>
					<a href="/createInventory">
						<li>Add item</li>
					</a><a href="/upload_file">
						<li>Upload CSV</li>
					</a>
				</ul>
			</div>
		</div>
		<div class="container-fluid table-responsive px-0 py-1 aps_table_container">
				<table id="example" class="aps_table table  table-bordered table-hover align-middle" style="width:100%">
					<thead class="aps_table_head">
						<tr class="align-middle">
							<th>S.No</th>
							<th class="aps_table_search">Product S.No</th>
							<th class="aps_table_search">Make</th>
							<th class="aps_table_search">Part Code</th>
							<th class="aps_table_search">Item</th>
							<th class="aps_table_filter">Location</th>
							<th class="aps_table_filter">Purchase Date</th>
							<th class="aps_table_filter">Item Dispatch Date</th>
							<th class="aps_table_filter">Organisation</th>
							<th class="aps_table_filter">Status</th>
							<th>CLI Snapshot</th>
							<th>Snapshot Date</th>

							<!-- <th>Update</th>
							<th>Remove</th> -->
						</tr>
					</thead>



					<tbody>


						{% for inventory in page_obj %}
						<tr>
							<td>
								{{inventory.counter}}
								<div class="conatiner" style="float: right">
									{% ifequal inventory.Organisation None %}
									<a class="m-2" style="color:rgb(185, 9, 9);"
										href="{% url 'deleteInventory' inventory.Serial_Number %}"><i
											class="bi bi-trash3-fill"></i></a>
									{% endifequal %}
									<a class="m-2" style="color:rgb(29, 147, 134);"
										href="{% url 'updateInventory' inventory.Serial_Number %}"><i
											class="bi bi-pencil-square"></i></a>
								</div>
							</td>
							<td>{{inventory.Serial_Number}}</td>
							<td>{{inventory.Make}}</td>
							<td>{{inventory.Part_Code}}</td>
							<td>{{inventory.Item}}</td>
							<td>{{inventory.Location}}</td>
							<td>{{inventory.Purchase_Date}}</td>
							<td>{{inventory.Item_dispatched_Date}}</td>
							<td>{{inventory.Organisation}}</td>
							<td>{{inventory.Status}}</td>
							
							<td>{% if inventory.CLI_snapshot %}
								<a href="{{inventory.CLI_snapshot.url}}" target="_blank" >
								
									<button type="button" class="btn " style="background:#1e354e; color:#ffff"> View</button>
								    
								</a>
								{% endif %}
							</td>
							
							<td>{{inventory.Snapshot_Date}}</td>

						</tr>
						{% endfor %}

					</tbody>
				</table>
			<nav aria-label="Page navigation example" class="my-3">
				<ul class="pagination pagination-lg justify-content-center">
					{% if page_obj.has_previous %}
					<li class="page-item">
						<a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					{% else %}
					<li class="page-item disabled">
						<a class="page-link" href="" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					{% endif %}
					{% for page in page_range %}
					{% if page == page_obj.number %}
					<li class="page-item active"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
					{% else %}
					<li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
					{% endif %}
					{% endfor %}
					{% if page_obj.has_next %}
					<li class="page-item">
						<a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
					{% else %}
					<li class="page-item disabled">
						<a class="page-link" href="" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
					{% endif %}
				</ul>
			</nav>

		</div>
	</div>

</div>

{% endblock %}


{% block script %}
<script src="/static/assets/js/table.js"></script>
{% endblock %}