{% extends 'navbar.html' %}

{% block css %}
<link rel="stylesheet" href="/static/assets/css/home.css">
{% endblock %}


{% block button %}
<a href="/login">
    <button class="btn btn-primary" style="float:right;" type="submit">
        Get Started
    </button>
</a>
{% endblock %}


{% block content %}



<!-- main carousel  -->
<div id="aps_main_carousel">
    <div class="background">
        <div class="image_wrapper"><img src="/static/assets/images/carousel1.png" alt="">
            <h1>Keep track of everything with our smart inventory management system</h1>
        </div>
        <div class="image_wrapper"><img src="/static/assets/images/carousel2.png" alt="">
            <h1>Stay connected to customers with the CRM management</h1>
        </div>
        <div class="image_wrapper"><img src="/static/assets/images/carousel3.png" alt="">
            <h1>Get quick insights with smart analysis</h1>
        </div>
    </div>
</div>
<a href="/login">
    <div class="aps_main_login aps_login_button">
        <button>Login</button>
    </div>
</a>

{% endblock %}