#aps_create_ticket{
    position: fixed;
    z-index:20;
    display: inline-block;
    width: max(8vw,8vh);
    height: max(8vw,8vh);
    text-align: center;
    border-radius: 50%;
    background: #1e354e;
    border: 2px solid #1e354e;
    box-shadow: 0px 0px 10px #1e354e;
    color: #fff;
    text-decoration: none;
    font-size: max(8vw,8vh);
    bottom: 30px;
    right: 30px;
    transition-duration: 0.5s;
    margin: 0px;
    padding: 0px;
    line-height: max(6vw,6vh);
    cursor: pointer;
}
#aps_create_ticket div{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-80%,-80%);
    background: transparent;
    color: #fff;
    padding: 5px;
    font-size: 18px;
    width: 200%;
    height: 60px;
    line-height: 20px;
}
#aps_create_ticket div li{
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
    background:#000;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}
#aps_create_ticket div li:hover{
    color: orange;
}
#aps_create_ticket div a{
    text-decoration: none;
    color: #fff;
}
#aps_create_ticket:hover{
    background: #fff;
    color: #1e354e;
    border: 2px solid #1e354e;
}
#aps_create_ticket:hover div{
    display: inline-block;
}