{% extends 'dashboardNavbar.html' %}


{% block title %}
Show
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/assets/css/table.css">

{% endblock %}
{% block content %}
<br>
<!-- main -->
{% if user.is_authenticated and user.is_staff and user.is_superuser %}
<div class="modal" id="aps_table_modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Filter Users</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="get" class="aps_filter_form">
                <div class="modal-body">
                    {{user_filter.form}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-sm-12 mx-auto">
    <h5>ALL USERS</h5>
    <hr>

    <div class="col-sm-12 mx-auto">
        <div class="container-fluid table-responsive px-0 py-1 aps_table_container">
            <a href="/register">
                <div class="aps_create_button">+
                </div>
            </a>
            <table class="aps_table table table-bordered table-hover align-middle">
                <thead class="aps_table_head">
                    <tr class="align-middle">
                        <th>S.No</th>
                        <th class="aps_table_search">User ID</th>
                        <th class="aps_table_search">Username</th>
                        <th>Email</th>
                        <th>CRM Permission</th>
                        <th>Inventory Permission</th>
                        <!-- <th>Update</th>
                        <th>Remove</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for user in page_obj %}
                    {% if not user.is_staff and not user.is_superuser %}
                    <tr>
                        <th>
                            {{forloop.counter}}
                            <div class="conatiner" style="float:right">

                                <a class="m-2"	style="color:rgb(29, 147, 134);" href="{% url 'update' user.id %}"><i class="bi bi-pencil-square"></i></a>
                                <a class="m-2" style="color:rgb(185, 9, 9);" href="{% url 'delete' user.id %}"><i class="bi bi-trash3-fill"></i></a>
                            </div>
                        </th>
                        <td>{{user.id}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        {% if user.userpermission.CRM_permission == True %}
                        <td>Yes</td>
                        {% else %}
                        <td>No</td>
                        {% endif %}
                        {% if user.userpermission.Inventory_permission == True %}
                        <td>Yes</td>
                        {% else %}
                        <td>No</td>
                        {% endif %}
                        <!-- <td><a class="btn btn-sm btn-info" href="{% url 'update' user.id %}">Update</a></td>
                        <td><a class="btn btn-sm btn-danger" href="{% url 'delete' user.id %}">Remove</a>
                        </td> -->
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example" class="my-3">
            <ul class="pagination pagination-lg justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                {% for page in page_range %}
                {% if page == page_obj.number %}
                <li class="page-item active"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>

    </div>
</div>
{% endif %}
{% endblock %}
{% block script %}
<script src="/static/assets/js/table.js"></script>
{% endblock %}