{% extends 'dashboardNavbar.html' %}

{% block title %}
{{type}}
{% endblock %}


{% block css %}

<link rel="stylesheet" href="/static/assets/css/crmFormStyle.css">

{% endblock %}
{% block content %}

<div id="aps_crm">
    <div class="crm_header">
        <h4 class="crm_title">Create new ticket</h4>
        <h6 class="crm_subtitle"></h6>
    </div>
    <div class="crm_serial_search container-fluid">
        <div class="row search_container_wrapper">
            <div class="col-md-12 search_container">
                <form action="/inventoryDetails"
                    id="aps_crm_serial_search" method="GET">
                    <input type="text" class="form-control" name="serial" placeholder="Search by serial">
                    <button type="submit" class="crm_search_btn"><i class="bi bi-search"></i>
                        Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="crm_form  d-none" id="aps_crm_input_form">
        <form action="/createTicket/" method="post" id="aps_crm_detail_form" class="container-fluid">
            {% csrf_token %}
            <div class="row">
                <fieldset class="col-md-12">
                    <label for="SNo">Serial</label>
                    <input type="text" name="SerialNo" id="aps_crm_SNo" readonly>
                </fieldset>
                <fieldset class="col-md-6">
                    <label>Make</label>
                    <input type="text" id="aps_crm_Make" readonly>
                </fieldset>
                <fieldset class="col-md-6">
                    <label>Part Code</label>
                    <input type="text" id="aps_crm_PartCode" readonly>
                </fieldset>
                <fieldset class="col-md-6">
                    <label>Item</label>
                    <input type="text" id="aps_crm_Item" readonly>
                </fieldset>
                <fieldset class="col-md-6">
                    <label>Dispatched Date</label>
                    <input type="text" id="aps_crm_Item_dispatched_Date" readonly>
                </fieldset>
                <fieldset class="col-md-6">
                    <label>Organisation</label>
                    <input type="text" id="aps_crm_Organisation" readonly>
                </fieldset>
                <fieldset class="col-md-6 d-none">
                    <input type="text" name="organisation_id" id="aps_crm_organisation_id" readonly>
                </fieldset>
                <fieldset class="col-md-6">
                    <label>Customer Name</label>
                    <input type="text" name="name" id="aps_crm_customer_name" required>
                </fieldset>
                <fieldset class="col-md-6 d-none">
                    <input type="text" name="customer_id" id="aps_crm_customer_id">
                </fieldset>
                <fieldset class="col-md-6">
                    <label>Customer Email</label>
                    <input type="email" name="email" id="aps_crm_customer_email" required>
                </fieldset>
                <fieldset class="col-md-6">
                    <label>Customer Phone</label>
                    <input type="phone" name="phone" id="aps_crm_customer_phone" required>
                </fieldset>
                <fieldset class="col-md-6">
                    <label>Category</label>
                    <select name="Category" id="" required>
                        <option value="category 1">Category 1</option>
                        <option value="category 2">Category 2</option>
                        <option value="category 3">Category 3</option>
                        <option value="category 4">Category 4</option>
                    </select>
                </fieldset>
                <fieldset class="col-md-6">
                    <label>Sub Category</label>
                    <select name="SubCategory" id="" required>
                        <option value="subcategory 1">Sub Category 1</option>
                        <option value="subcategory 2">Sub Category 2</option>
                        <option value="subcategory 3">Sub Category 3</option>
                        <option value="subcategory 4">Sub Category 4</option>
                    </select>
                </fieldset>
                <fieldset class="col-md-6">
                    <label>Priority</label>
                    <select name="Priority" id="" required>
                        <option value="P1">Priority 1</option>
                        <option value="P2">Priority 2</option>
                        <option value="P3">Priority 3</option>
                        <option value="P4">Priority 4</option>
                    </select>
                </fieldset>
                <fieldset class="col-md-6">
                    <label>Fault code</label>
                    <select name="FaultFoundCode" id="" required>
                        <option value="Router">Router faulty</option>
                        <option value="Modem">Modem faulty</option>
                        <option value="Switch">Switch faulty</option>
                    </select>
                </fieldset>
                <fieldset class="col-md-12">
                    <label>Summary</label>
                    <Textarea name="Summary" required></Textarea>
                </fieldset>
                <fieldset class="col-md-12">
                    <button type="submit">Create +</button>
                </fieldset>
            </div>
        </form>
    </div>
</div>

<script src="/static/assets/js/crmFormScript.js"></script>
{% endblock %}