{% extends 'dashboardNavbar.html' %}

{% block title %}
{{type}}
{% endblock %}


{% block css %}

<link rel="stylesheet" href="/static/assets/css/crmFormStyle.css">

{% endblock %}
{% block content %}
<div id="aps_serial_search_error" class="d-none">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Product not found!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
<div id="aps_serial_search_error_wrapper"></div>
<div id="aps_crm">
    <div class="crm_header">
        <h4 class="crm_title">Create new ticket</h4>
        <h6 class="crm_subtitle"></h6>
    </div>
    <div class="crm_form" id="aps_crm_input_form">
        <form action="" method="post" id="aps_crm_detail_form" class="container-fluid">
            {% csrf_token %}
            <div class="row">
                <fieldset class="col-md-6">
                    <label for="SNo">Serial Number</label>
                    <input type="text" name="SerialNo" id="aps_crm_SNo" value="{{product.Serial_Number}}" readonly>
                </fieldset>
                <fieldset class="col-md-6">
                    <label>Make</label>
                    <input type="text" id="aps_crm_Make" value="{{product.Make}}" readonly>
                </fieldset>
                <fieldset class="col-md-6">
                    <label>Part Code</label>
                    <input type="text" id="aps_crm_PartCode" value="{{product.Part_Code}}" readonly>
                </fieldset>
                <fieldset class="col-md-6">
                    <label>Item</label>
                    <input type="text" id="aps_crm_Item" value="{{product.Item}}" readonly>
                </fieldset>
                <fieldset class="col-md-6">
                    <label>Dispatched Date</label>
                    <input type="text" id="aps_crm_Item_dispatched_Date" value="{{product.Item_dispatched_Date}}" readonly>
                </fieldset>
                <fieldset class="col-md-6">
                    <label>Organisation</label>
                    <input type="text" id="aps_crm_Organisation" value="{{product.Organisation}}" readonly>
                </fieldset>
                <fieldset class="col-md-6 d-none">
                    <input type="text" name="Organisation" id="aps_crm_organisation_id" value="{{product.Organisation.OrgID}}" readonly>
                </fieldset>
                <fieldset class="col-md-6">
                    <label>Customer Name</label>
                    {{customer.Name}}
                </fieldset>
                <fieldset class="col-md-6 d-none">
                    <input type="text" name="customer_id" id="aps_crm_customer_id">
                </fieldset>
                <fieldset class="col-md-6">
                    <label>Customer Email</label>
                    {{customer.EmailAddress}}
                </fieldset>
                <fieldset class="col-md-6">
                    <label>Customer Phone</label>
                    {{customer.ContactNo}}
                </fieldset>
                <fieldset class="col-md-6">
                    <label>Category</label>
                    {{form.Category}}
                </fieldset>
                <fieldset class="col-md-6">
                    <label>Sub Category</label>
                    {{form.SubCategory}}
                </fieldset>
                <fieldset class="col-md-6">
                    <label>Priority</label>
                    {{form.Priority}}
                </fieldset>
                <fieldset class="col-md-12">
                    <label>Summary</label>
                    {{form.Summary}}
                </fieldset>
                <fieldset class="col-md-12">
                    <button type="submit">Create +</button>
                </fieldset>
            </div>
        </form>
    </div>
</div>

<script src="/static/assets/js/crmFormScript.js"></script>
{% endblock %}