{% extends 'dashboardNavbar.html' %}


{% block title %}
{{type}}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/assets/css/table.css">
{% endblock %}


{% block content %}

{% ifequal type 'Ticket' %}


<br>
<div class="modal" id="aps_table_modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Filter Tickets</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="get" class="aps_filter_form">
                <div class="modal-body">
                    {{ticket_filter.form}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 mx-auto">
        <h5>ALL TICKETS</h5>
        <hr>
    </div>
    <div class="col-sm-12 mx-auto">
        <div class="container-fluid table-responsive px-0 py-1 aps_table_container">
            <a href="/createTicket">
                <div class="aps_create_button">+
                </div>
            </a>
            <table class="aps_table table table-bordered table-hover align-middle">
                <thead class="aps_table_head">
                    <tr class="align-middle">
                        <th>S.No</th>
                        <th class="aps_table_search">Ticket ID</th>
                        <th>Customer Name</th>
                        <th class="aps_table_search">Organisation</th>
                        <th class="aps_table_filter">Date Created</th>
                        <th class="aps_table_filter">Date Closed</th>
                        <th class="aps_table_filter">Priority</th>
                        <th class="aps_table_filter">Category</th>
                        <th class="aps_table_filter">Sub Category</th>
                        <th>Serial No</th>
                        <th>Summary</th>
                        <th>Status</th>
                        <th>Fault Found Code</th>
                        <th>Resolution Code</th>
                        <th>Resolution Remarks</th>
                        <th>Online Resolvable</th>
                        <th>Alternate HW</th>
                        <!-- <th>Update</th>
                        {% if user.is_authenticated and user.is_staff and user.is_superuser %}
                        <th>History</th>
                        {% endif %} -->
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in page_obj %}
                    <tr>
                        <td>
                            {{ticket.counter}}
                            <div class="conatiner" style="float:right">
                                {% if user.is_authenticated and user.is_staff and user.is_superuser %}
                                <a class="ml-2" style="color:rgb(95, 7, 161);" href="{% url 'ticketLog' ticket.TicketID %}"><i class="bi bi-file-earmark-text"></i></a>
                                {% endif %}
                                <a class="m-2"	style="color:rgb(29, 147, 134);" href="{% url 'updateTicket' ticket.TicketID %}"><i class="bi bi-pencil-square"></i></a>
                            </div>
                        </td>
                        <td>{{ticket.TicketID}}</td>
                        <td>{{ticket.Customer.Name}}</td>
                        <td>{{ticket.Customer.Organisation}}</td>
                        <td>{{ticket.DateCreated}}</td>
                        <td>{{ticket.DateClosed}}</td>
                        <td>{{ticket.Priority}}</td>
                        <td>{{ticket.Category}}</td>
                        <td>{{ticket.SubCategory}}</td>
                        <td>{{ticket.SerialNo}}</td>
                        <td>{{ticket.Summary}}</td>
                        <td>{{ticket.Status}}</td>
                        <td>{{ticket.FaultFoundCode}}</td>
                        <td>{{ticket.ResolutionCode}}</td>
                        <td>{{ticket.ResolutionRemarks}}</td>
                        <td>
                            {% ifequal ticket.OnlineResolvable True %}
                            Yes
                            {% endifequal %}
                            {% ifequal ticket.OnlineResolvable False %}
                            No
                            {% endifequal %}
                            {% ifequal ticket.OnlineResolvable None %}
                            Unknown
                            {% endifequal %}
                        </td>
                        <td>{{ticket.AlternateHW}}</td>
                        <!-- <td><a class="btn btn-sm btn-info" href="{% url 'updateTicket' ticket.TicketID %}">Update</a>
                        </td>
                        {% if user.is_authenticated and user.is_staff and user.is_superuser %}
                        <td><a class="btn btn-sm btn-warning" href="{% url 'ticketLog' ticket.TicketID %}">View Logs</a>
                        </td> -->
                        {% endif %}
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </div>
        <nav aria-label="Page navigation example" class="my-3">
            <ul class="pagination pagination-lg justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                {% for page in page_range %}
                {% if page == page_obj.number %}
                <li class="page-item active"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>


{% else %}

<br>
<div class="row">
    <div class="col-sm-12 mx-auto">
        <h5>ALL LOGS</h5>
        <hr>
    </div>
    <div class="container-fluid table-responsive mx-2 px-0 aps_table_container">
        <table class="aps_table table  table-bordered table-hover align-middle">
            <thead class="aps_table_head">
                <tr class="align-middle">
                    <th>S.No</th>
                    <th>User ID</th>
                    <th>Priority</th>
                    <th>Category</th>
                    <th>Sub Category</th>
                    <th>Serial No</th>
                    <th>Summary</th>
                    <th>Status</th>
                    <th>Fault Found Code</th>
                    <th>Resolution Code</th>
                    <th>Resolution Remarks</th>
                    <th>Online Resolvable</th>
                    <th>Ticket ID</th>
                    <th>Alternate HW</th>
                    <th>Date Updated</th>
                    <th>Change Type</th>
                </tr>
            </thead>
            <tbody>
                {% for history in all_history %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{history.history_user}}</td>
                    <td>{{history.Priority}}</td>
                    <td>{{history.Category}}</td>
                    <td>{{history.SubCategory}}</td>
                    <td>{{history.SerialNo}}</td>
                    <td>{{history.Summary}}</td>
                    <td>{{history.Status}}</td>
                    <td>{{history.FaultFoundCode}}</td>
                    <td>{{history.ResolutionCode}}</td>
                    <td>{{history.ResolutionRemarks}}</td>
                    <td>
                        {% ifequal history.OnlineResolvable True %}
                        Yes
                        {% endifequal %}
                        {% ifequal history.OnlineResolvable False %}
                        No
                        {% endifequal %}
                        {% ifequal history.OnlineResolvable None %}
                        Unknown
                        {% endifequal %}
                    </td>
                    <td>{{history.TicketID}}</td>
                    <td>{{history.AlternateHW}}</td>
                    <td>{{history.history_date}}</td>
                    <td>
                        {% ifequal history.history_type '+' %}
                        Created
                        {% endifequal %}
                        {% ifequal history.history_type '~' %}
                        Updated
                        {% endifequal %}
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% endifequal %}

{% endblock %}
{% block script %}
<script src="/static/assets/js/table.js"></script>
{% endblock %}