{% extends 'dashboardNavbar.html' %}

{% block title %}
Update
{% endblock %}


{% block css %}

<link rel="stylesheet" href="/static/assets/css/crmFormStyle.css">

{% endblock %}


{% block content %}

<div id="aps_crm" class="justify-content-center d-flex">
   
    <div class="container m-0" >
        <div class="row">

            <div class="crm_header">
                <h4 class="crm_title">Update Ticket</h4>
                <h6 class="crm_subtitle">Enter the details to be updated</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="crm_form">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="container">

                            <div class="row">
                                <div class="col-6">
                                    <fieldset>
                                        <label for="">Ticket ID</label>
                                        {{ form.TicketID }}
                                    </fieldset>
                                </div>
                                <div class="col-6">
                                    
                                    <fieldset>
                                        <label for="">Status</label>
                                        {{ form.Status }}
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <fieldset>
                                        <label for="">Date Created</label>
                                        {{ form.DateCreated }}
                                    </fieldset>
                                </div>
                                <div class="col-6">
                                    
                                    <fieldset>
                                        <label for="">Resolution Date</label>
                                        {{ form.ResolutionDate }}
                                    </fieldset>
                                </div>
                            </div>
                        {% comment %} </div> {% endcomment %}
                       
                        {% comment %} <div class="container"> {% endcomment %}
                            <div class="row">
                                <div class="col-6">
                                    <fieldset>
                                        <label for="">Priority</label>
                                        {{ form.Priority }}
                                    </fieldset>
                                    
                                </div>
                                <div class="col-6">
                                    <fieldset>
                                        <label for="">Serial Number</label>
                                        {{ form.SerialNo }}
                                    </fieldset>
                                </div>
                            </div>
                        {% comment %} </div> {% endcomment %}
                       
                        {% comment %} <div class="container"> {% endcomment %}
                            <div class="row">
                                <div class="col-6">
                                    <fieldset>
                                        <label for="">Category</label>
                                        {{ form.Category }}
                                    </fieldset>
                                </div>
                                <div class="col-6">
                                    <fieldset>
                                        <label for="">Sub Category</label>
                                        {{ form.SubCategory }}
                                    </fieldset>
                                </div>
                            </div>
                        {% comment %} </div> {% endcomment %}
                       
                        
                       

                       
            
            
                       
            
                        <!-- <fieldset>
                            <label for="">Model Number</label>
                            {{ form.ModelNo }}
                        </fieldset> -->
            
                       
            
                       
                            <div class="row">
                                <div class="col-12">
                                    <fieldset>
                                        <label for="">Summary</label>
                                        {{ form.Summary }}
                                    </fieldset>
                                </div>
                            </div>
                        
                        {% comment %} <div class="container"> {% endcomment %}
                            <div class="row">
                                <div class="col-6">
                                    <fieldset>
                                        <label for="">Fault Found Code</label>
                                        {{ form.FaultFoundCode }}
                                    </fieldset>
                                   
                                </div>
                                <div class="col-6">
                                    <fieldset>
                                        <label for="">Online Resolvable</label>
                                        {{ form.OnlineResolvable }}
                                    </fieldset>
                                </div>
                            </div>
                        {% comment %} </div> {% endcomment %}
                            <div class="row">
                                <div class="col-12">
                                    <fieldset>
                                            <label for="">Resolution Code</label>
                                            {{ form.ResolutionCode }}
                                        </fieldset>
                                </div>
                            </div>
                
                            <div class="row">
                                <div class="col-12">
                                    <fieldset>
                                        <label for="">Resolution Remarks</label>
                                        {{ form.ResolutionRemarks }}
                                    </fieldset>

                                </div>
                            </div>
                
                        

                        
                        {% comment %} <div class="container"> {% endcomment %}
                            <div class="row">
                                <div class="col-6">
                                    
                                    <fieldset>
                                        <label for="">HW Dispatched S.No</label>
                                        {{ form.HWDispatchedSerial }}
                                        {{ form.HWDispatched }}
                                    </fieldset>
                                </div>
                                <div class="col-6">
                                    
                                    <fieldset>
                                        <label for="">Docket Number</label>
                                        {{ form.DocketNumber }}
                                    </fieldset>
            
                                </div>
                            </div>
                        {% comment %} </div> {% endcomment %}
                        {% comment %} <div class="container"> {% endcomment %}
                            <div class="row">
                                <div class="col-6">
                                                                
            
                                    <fieldset>
                                        <label for="">Dispatched through</label>
                                        {{ form.DispatchedThrough }}
                                    </fieldset>
                                </div>
                                <div class="col-6">
                                    <fieldset>
                                        <label for="">Delivery Status</label>
                                        {{ form.DeliveryStatus }}
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 ">
                                    <!-- To align button to center -->
                                    <!-- <fieldset class="d-inline justify-content-center d-flex">  -->
                                    <fieldset >
                                        <button type="submit">Submit</button>
                                    </fieldset>
                                </div>
                            </div>
                    
                       
                        </div>
                    </form>
                </div>

            </div>
            <div class="col-4 h-100" >
                <div class="container">
                    <div style="max-height:1200px" class="overflow-scroll">

                    {% for event in events reversed %}

                        <div class="container mt-4">

                        

                        {%ifequal event.type "Updated" %}


                        <div class="card">
                            <h5 class="card-header"><span class="fw-bold text-primary">{{event.user}}</span>&nbsp Updated following</h5>
                            <div class="card-body">
                                {%for key,value in event.updates.items %}
                                
                                <span class ="fw-bold">{{key}}</span> to 
                                '{{value}}'
                                <br>
                                {%endfor%}
                              <!-- <h5 class="card-title"></h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                            <div class="card-footer">
                               
                                <h6 class=" fst-italic">on {{event.time}}</h6>
                            </div>          
                        </div>

                           
                        
                            



                        
                        {%else %}

                         
                        
                        <div class="card">
                            
                            <div class="card-body">
                              <h5 class="card-title"><span class="fw-bold text-primary">{{event.user}}</span>&nbsp Created the Ticket</h5>
                            </div>
                            <div class="card-footer">
                               
                                <h6 class=" fst-italic">on {{event.time}}</h6>
                            </div>          
                        </div>
                        {%endifequal%}

                         
                    </div>
                        
                    {% endfor %}
                </div>
                </div>
                
            </div>
        </div>
    </div>
   
</div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
    <script src="/static/assets/js/crmFormScript.js"></script>
    <script src="/static/assets/js/crmUpdateScript.js"></script>

{% endblock %}