
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


/* Main CSS */ 
.reset_wrapper{
    padding: 20vh 0 100px;
    background-position:bottom center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
    /* background-attachment: fixed; */
    /* min-height: 100%; */
    height : 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reset_wrapper .logo img{
    width:80%;
}
.reset_wrapper input{
    background-color:var(--light-white);
    border-color:var(--light-white);
    color:var(--gray);
}
.reset_wrapper input:focus{
    box-shadow: none;
}
.reset_wrapper .password-info{
    font-size:10px;
}
.reset_wrapper .submit_btn{
    padding:10px 15px;
    font-weight:500;
}
.reset_wrapper .login_with{
    padding:8px 15px;
    font-size:13px;
    font-weight: 500;
    transition:0.3s ease-in-out;
}
.reset_wrapper .submit_btn:focus,
.reset_wrapper .login_with:focus{
    box-shadow: none;
}
.reset_wrapper .login_with:hover{
    background-color:var(--gray-1);
    border-color:var(--gray-1);
}
.reset_wrapper .login_with img{
    max-width:7%;
}
.popover {
    white-space: pre-line;    
}